# Emacs related
.cask/
elpa/
ido.last
recentf
.mc-lists.el
auto-save/
.cache/
.init.el.un~
init.el~
server/

# Privacy - ignore private modules
config/private/

# Python IDE
.python-environments/

# Projectile
projectile-bookmarks.eld

# Irony C++ IDE
irony/

# No-littering
url/
local/
var/
tramp

# straight.el
straight/

# windows - dir for executables on windows, e.g. ag.exe
windows/