[submodule "config/circadian"]
	path = config/circadian
	url = git@github.com:GuidoSchmidt/circadian.git
[submodule "github/emacs-nyx-theme"]
	path = github/emacs-nyx-theme
	url = git@github.com:GuidoSchmidt/emacs-nyx-theme.git
[submodule "github/emacs-hemera-theme"]
	path = github/emacs-hemera-theme
	url = git@github.com:GuidoSchmidt/emacs-hemera-theme.git
[submodule "github/flycheck-glsl"]
	path = github/flycheck-glsl
	url = git@github.com:rochg/flycheck-glsl.git
[submodule "github/company-glsl"]
	path = github/company-glsl
	url = git@github.com:rochg/flycheck-glsl.git
[submodule "github/prettier-emacs"]
	path = github/prettier-emacs
	url = git@github.com:prettier/prettier-emacs.git
